/simplerserver/node_modules/**/*
/pirate-radio/node_modules/**/*
/pirate-socket/node_modules/**/*
/*/node_modules
/simplerserver/.env
./simplerserver/.env
*/.env
./pirate-radio/expo/*
npm-debug.*
*.jks
*.p12
*.mobileprovision
.env
/pirate-radio/env.js
/simplerserver/.env